logs
log
project/project
project/target
project/.sbtserver
project/.sbtserver.lock
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver

    